<!DOCTYPE html>
<html lang="ar" dir="rtl">
  <head>
    <meta charset="UTF-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Vite App</title>
  </head>
<body class="grid-phone gap-2 bg-white dark:bg-black text-black dark:text-white">
    <header class="p-4 flex items-center sticky top-0 backdrop-blur-3xl">
        <button v-scope @click="history.back()" class="h-8 w-8 hover:bg-neutral-100 dark:hover:bg-neutral-900 rounded-lg">
            <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 mx-auto" viewBox="0 0 20 20" fill="currentColor">
                <path fill-rule="evenodd" d="M7.293 14.707a1 1 0 010-1.414L10.586 10 7.293 6.707a1 1 0 011.414-1.414l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414 0z" clip-rule="evenodd" />
            </svg>
        </button>
        <h1 class="flex-grow text-center font-bold">تفاصيل الحساب</h1>
        <!-- <select class="font-semibold bg-transparent focus:outline-none appearance-none">
            <option value="yer">يمني</option>
            <option value="sar">سعودي</option>
            <option value="usd">دولار</option>
        </select> -->
    </header>
    <main class="mx-4 md:w-96 md:mx-auto flex flex-col gap-3">
        <div v-scope class="rounded-xl bg-neutral-100 dark:bg-neutral-900 p-3 flex flex-col gap-2">
            <div class="flex justify-between">
                <label class="text-gray-700 text-sm dark:text-gray-300">لك</label>
                <h4 class="font-semibold text-green-600">{{ income }}</h4>
            </div>
            <div class="flex justify-between">
                <label class="text-gray-700 text-sm dark:text-gray-300">عليك</label>
                <h4 class="font-semibold text-red-600">{{ outcome }}</h4>
            </div>
            <hr class="border-neutral-200 dark:border-neutral-800">
            <div class="flex justify-between">
                <label class="text-gray-700 dark:text-gray-300">الإجمالي</label>
                <h4 class="font-bold text-lg">{{ income - outcome }}</h4>
            </div>
        </div>
        <div>
            <!-- <div class="flex flex-row items-center justify-between">
                <h3 class="text-xl whitespace-normal font-bold my-3">29 يناير</h3>
                <span class="py-1 px-2 rounded-full text-sm text-neutral-700 dark:text-neutral-300 bg-neutral-100 dark:bg-neutral-900">2,400,00 YER</span>
            </div> -->
            <div class="rounded-xl bg-neutral-100 dark:bg-neutral-900 flex flex-col divide-y divide-neutral-200 dark:divide-neutral-800">
                <section v-scope v-for="item in items" class="p-3 flex justify-between gap-2 items-center">
                    <button class="w-9 h-9 text-white rounded-full" :class="{'bg-green-500': item.passive, 'bg-red-500': !item.passive}">
                        <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 mx-auto" viewBox="0 0 20 20" fill="currentColor">
                          <path fill-rule="evenodd" d="M4 4a2 2 0 00-2 2v4a2 2 0 002 2V6h10a2 2 0 00-2-2H4zm2 6a2 2 0 012-2h8a2 2 0 012 2v4a2 2 0 01-2 2H8a2 2 0 01-2-2v-4zm6 4a2 2 0 100-4 2 2 0 000 4z" clip-rule="evenodd" />
                        </svg>
                    </button>
                    <div class="flex flex-col flex-grow">
                        <span>{{item.name}}</span>
                        <span class="text-sm text-neutral-700 dark:text-neutral-300">{{item.description}}</span>
                    </div>
                    <div class="flex flex-col">
                        <span :class="{'text-green-600': item.passive, 'text-red-600': !item.passive}">{{item.amount}} {{item.currency}}</span>
                        <span class="text-sm text-neutral-700 dark:text-neutral-300">{{item.timestamp.slice(0, 10)}}</span>
                    </div>
                </section>
            </div>
        </div>
    </main>
    <footer v-scope>
        <a :href="`./entry.html?account=${account}`" class="fixed bottom-4 right-4 rounded-full bg-blue-600 text-white p-3" data-bs-toggle="modal" data-bs-target="#modalScrollable">
          <svg xmlns="http://www.w3.org/2000/svg" class="h-8 w-8" viewBox="0 0 20 20" fill="currentColor">
            <path fill-rule="evenodd" d="M10 5a1 1 0 011 1v3h3a1 1 0 110 2h-3v3a1 1 0 11-2 0v-3H6a1 1 0 110-2h3V6a1 1 0 011-1z" clip-rule="evenodd" />
          </svg>
        </a>
      </footer>
    <script type="module" src="/main.js"></script>
    <script type="module">
        import { collection, query, getDocs, where } from 'firebase/firestore'
        import { db } from '../main'
        import { createApp } from 'petite-vue'
        import contact from '../settings/contact'
        import details from './details'

        // get account
        const queryString = window.location.search
        const urlParams = new URLSearchParams(queryString)
        const account = urlParams.get('account')
        details.account = account

        // get docs
        const accountRef = collection(db, localStorage.getItem('user'))
        const q = query(accountRef, where('account', '==', account))
        getDocs(q)
        .then((snapshot) => {
            snapshot.docs.forEach(doc => {
                let name = details.contacts[doc.data().phone] || doc.data().phone
                details.items.push({...doc.data(), name})
            })
        })
        .catch(error => {
            console.error(error.message)
        })

        createApp(details).mount()
    </script>
</body>
</html>