<!DOCTYPE html>
<html lang="ar" dir="rtl">
  <head>
    <meta charset="UTF-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Vite App</title>
  </head>
<body v-scope class="grid-phone gap-2 bg-white dark:bg-black text-black dark:text-white">
    <header class="p-4 flex items-center sticky top-0 backdrop-blur-3xl">
        <button @click="history.back()" class="h-8 w-8 hover:bg-neutral-100 dark:hover:bg-neutral-900 rounded-lg">
            <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 mx-auto" viewBox="0 0 20 20" fill="currentColor">
                <path fill-rule="evenodd" d="M7.293 14.707a1 1 0 010-1.414L10.586 10 7.293 6.707a1 1 0 011.414-1.414l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414 0z" clip-rule="evenodd" />
            </svg>
        </button>
        <h1 class="flex-grow text-center font-bold">إضافة بيانات</h1>
        <button type="submit" form="add_entry" tabindex="7" class="font-semibold text-blue-600">حفظ</button>
    </header>
    <main class="mx-4 mb-4 md:w-96 md:mx-auto flex flex-col gap-3">
        <nav>
            <ul class="flex justify-center text-white rounded-md border bg-neutral-600 bg-opacity-30 border-neutral-600 border-opacity-10">
                <button @click="passive = true" class="p-1 flex-grow text-center border-0 rounded-md transition duration-100" :class="{'text-black': passive, 'bg-white': passive}">لك</button>
                <button @click="passive = false" class="p-1 flex-grow text-center border-0 rounded-md transition duration-100" :class="{'text-black': !passive, 'bg-white': !passive}">عليك</button>
            </ul>
        </nav>
        <div class="flex justify-between items-center gap-3">
            <input type="number" form="add_entry" tabindex="1" name="amount" inputmode="decimal" v-model="amount" class="w-full bg-transparent focus:outline-none text-6xl" :class="{'text-green-600':passive, 'text-red-600': !passive}" required>
            <div>
                <span class="text-6xl text-green-600" v-if="passive">+</span>
                <span class="text-6xl text-red-600" v-else>-</span>
            </div>
            <select v-model="currency" form="add_entry" tabindex="6" class="py-1 px-3 rounded-full bg-neutral-100 dark:bg-neutral-900 focus:outline-none appearance-none">
                <option value="YER">يمني</option>
                <option value="SAR">سعودي</option>
                <option value="USD">دولار</option>
            </select>
        </div>
        <section class="flex flex-col gap-2">
            <h4>التفاصيل</h4>
            <form v-scope action="" id="add_entry" autocomplete="off" autofill="off" @submit.prevent="save($el)">
                <input type="hidden" name="phone" v-model="phone">
                <ul class="bg-neutral-100 dark:bg-neutral-900 flex flex-col divide-y divide-neutral-200 dark:divide-neutral-800 rounded-lg">
                    <li class="flex items-center gap-2 p-3">
                        <label for="account" class="text-gray-700 dark:text-gray-300">الحساب</label>
                        <select v-model="account" tabindex="2" name="account" id="account" class="w-full h-full bg-transparent px-2 focus:outline-none">
                            <option value="general">حساب عام</option>
                            <option value="clients">حساب العملاء</option>
                            <option value="suppliers">حساب الموردين</option>
                            <option value="employees">حساب الموظفين</option>
                        </select>
                    </li>
                    <li class="flex items-center gap-2 p-3">
                        <label for="payee" class="text-gray-700 dark:text-gray-300">المستفيد</label>
                        <input tabindex="3" type="text" :value="search" @input="search = $event.target.value" name="payee" id="payee" class="w-full h-full bg-transparent px-2 focus:outline-none" required>
                    </li>
                    <li v-show="search && !name" v-for="contact in searchResults" @click="choose(contact)" class="flex items-center gap-2 p-3">
                        <span class="indent-[8ch]">{{ contact.name }}</span>
                    </li>
                    <template v-if="Object.entries(searchResults).length === 0 && search">
                        <li @click="add" class="flex items-center justify-center gap-2 p-3 font-semibold text-blue-600 cursor-pointer">
                            <span>إضافة</span>
                        </li>
                    </template>
                    <li class="flex items-center gap-2 p-3">
                        <label for="description"  class="text-gray-700 dark:text-gray-300">ملاحظة</label>
                        <input tabindex="4" type="text" v-model="description" name="note" id="description" class="w-full h-full bg-transparent px-2 focus:outline-none">
                    </li>
                    <li class="flex items-center gap-2 p-3">
                        <label for="datetime" class="text-gray-700 dark:text-gray-300 whitespace-nowrap">الوقت والتاريخ</label>
                        <input tabindex="5" type="datetime-local" v-model="timestamp" name="timestamp" id="datetime" class="bg-transparent focus:outline-none text-sm" required>
                    </li>
                </ul>
            </form>
        </section>
    </main>
    <!--Overlay Effect-->
    <div v-scope v-show="contactDialog" class="fixed inset-0 bg-gray-600 bg-opacity-50 overflow-y-auto h-full w-full">
        <!-- // modal content -->
        <div class="relative top-7 md:top-20 grid-phone min-h-screen md:min-h-fit md:w-96 md:mx-auto shadow-lg rounded-t-lg md:rounded-b-lg bg-white dark:bg-black" >
            <header class="p-4 flex items-center sticky top-0">
                <button @click="reset" class="font-semibold">الغاء</button>
                <h1 class="flex-grow text-center font-bold">جهة اتصال</h1>
            </header>
            <form @submit.prevent="saveContact" id="addContact">
                <main class="p-4">
                    <ul class="bg-neutral-100 dark:bg-neutral-900 mt-3 flex flex-col divide-y divide-neutral-200 dark:divide-neutral-800 rounded-lg">
                        <li class="flex items-center gap-2 p-3">
                            <label for="name" class="text-gray-700 dark:text-gray-300">الاسم*</label>
                            <input type="text" v-model="name" name="name" id="name" class="w-full h-full bg-transparent px-2 focus:outline-none" required>
                        </li>
                        <li class="flex items-center gap-2 p-3">
                            <label for="phone"  class="text-gray-700 dark:text-gray-300">الرقم*</label>
                            <input type="tel" v-model="phone" inputmode="numeric" dir="ltr" name="phone" id="phone" class="w-full h-full bg-transparent px-2 focus:outline-none" required>
                        </li>
                        <li class="flex items-center gap-2 p-3">
                            <label for="adress" class="text-gray-700 dark:text-gray-300">العنوان</label>
                            <input type="address" v-model="address" name="address" id="address" class="w-full h-full bg-transparent px-2 focus:outline-none">
                        </li>
                        <li class="flex items-center gap-2 p-3">
                            <label for="note"  class="text-gray-700 dark:text-gray-300">ملاحظة</label>
                            <input type="text" v-model="note" name="note" id="note" class="w-full h-full bg-transparent px-2 focus:outline-none">
                        </li>
                    </ul>
                </main>
            </form>
            <footer class="p-4 w-full sticky bottom-0 border-t border-t-neutral-100 dark:border-neutral-900">
                <button type="submit" form="addContact" class="h-11 w-full rounded-lg bg-blue-600 text-white">حفظ</button>
            </footer>
        </div>
    </div>
    <script type="module" src="/main.js"></script>
    <script type="module">
        import { createApp } from 'petite-vue'
        import entry from './entry'

        // get account
        const queryString = window.location.search
        const urlParams = new URLSearchParams(queryString)
        const account = urlParams.get('account')
        entry.account = account

        // set default datetime-local
        entry.now()
        
        createApp(entry).mount()
    </script>
</body>
</html>