<!DOCTYPE html>
<html lang="ar" dir="rtl">
  <head>
    <meta charset="UTF-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Vite App</title>
  </head>
<body v-scope class="grid-phone gap-2 bg-white dark:bg-black text-black dark:text-white">
    <header class="p-4 flex items-center sticky top-0 backdrop-blur-3xl">
        <button @click="history.back()" class="h-8 w-8 hover:bg-neutral-100 dark:hover:bg-neutral-900 rounded-lg">
            <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 mx-auto" viewBox="0 0 20 20" fill="currentColor">
                <path fill-rule="evenodd" d="M7.293 14.707a1 1 0 010-1.414L10.586 10 7.293 6.707a1 1 0 011.414-1.414l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414 0z" clip-rule="evenodd" />
            </svg>
        </button>
        <h1 class="flex-grow text-center font-bold">الفواتير</h1>
        <button type="submit" form="add_inventory" tabindex="7" class="font-semibold text-blue-600">حفظ</button>
    </header>
    <main class="mx-4 mb-4 md:w-96 md:mx-auto flex flex-col gap-3">
        <!-- لمردود المبيعات -->
        <!-- <nav>
            <ul class="flex justify-center text-white rounded-md border bg-neutral-600 bg-opacity-30 border-neutral-600 border-opacity-10">
                <button @click="passive = true" class="p-1 flex-grow text-center border-0 rounded-md transition duration-100" :class="{'text-black': passive, 'bg-white': passive}">لك</button>
                <button @click="passive = false" class="p-1 flex-grow text-center border-0 rounded-md transition duration-100" :class="{'text-black': !passive, 'bg-white': !passive}">عليك</button>
            </ul>
        </nav> -->
        <!-- الإجمالي -->
        <div v-scope class="rounded-xl bg-neutral-100 dark:bg-neutral-900 p-3 flex flex-col gap-2">
            <div class="flex justify-between">
                <label class="text-gray-700 dark:text-gray-300 font-semibold">الإجمالي</label>
                <h4 class="font-bold text-lg text-green-600">{{ total }} {{ currency }}</h4>
            </div>
        </div>
        <section class="flex flex-col gap-2">
            <h4>التفاصيل</h4>
            <form v-scope action="" id="add_inventory" autocomplete="off" autofill="off" @submit.prevent="save($el)">
                <input type="hidden" name="phone" v-model="phone">
                <ul class="bg-neutral-100 dark:bg-neutral-900 flex flex-col divide-y divide-neutral-200 dark:divide-neutral-800 rounded-lg">
                    <li class="flex items-center gap-2 p-3">
                        <label for="account" class="text-gray-700 dark:text-gray-300">النوع</label>
                        <select v-model="type" tabindex="2" name="account" id="account" class="w-full h-full bg-transparent px-2 focus:outline-none">
                            <option value="purchase">فاتورة مشتريات</option>
                            <option value="sale">فاتورة مبيعات</option>
                        </select>
                    </li>
                    <li class="flex items-center gap-2 p-3">
                        <label for="payee" class="text-gray-700 dark:text-gray-300">المستفيد</label>
                        <input tabindex="3" type="text" :value="search" @input="search = $event.target.value" name="payee" id="payee" class="w-full h-full bg-transparent px-2 focus:outline-none" required>
                    </li>
                    <li v-show="search && !contact.name" v-for="item in searchResults" @click="choose(item)" class="flex items-center gap-2 p-3">
                        <span class="indent-[8ch]">{{ item.name }}</span>
                    </li>
                    <template v-if="Object.entries(searchResults).length === 0 && search">
                        <li @click="addContact" class="flex items-center justify-center gap-2 p-3 font-semibold text-blue-600 cursor-pointer">
                            <span>إضافة</span>
                        </li>
                    </template>
                    <li class="flex items-center gap-2 p-3">
                        <label for="description"  class="text-gray-700 dark:text-gray-300">ملاحظة</label>
                        <input tabindex="4" type="text" v-model="description" name="note" id="description" class="w-full h-full bg-transparent px-2 focus:outline-none">
                    </li>
                    <li class="flex items-center gap-2 p-3">
                        <label for="datetime" class="text-gray-700 dark:text-gray-300 whitespace-nowrap">الوقت والتاريخ</label>
                        <input tabindex="5" type="datetime-local" v-model="timestamp" name="timestamp" id="datetime" class="bg-transparent focus:outline-none text-sm" required>
                    </li>
                </ul>
            </form>
        </section>
        <section class="flex flex-col gap-2">
            <h4>الأصناف</h4>
            <form v-scope action="" id="add_inventory" autocomplete="off" autofill="off" @submit.prevent="save($el)">
                <input type="hidden" name="phone" v-model="phone">
                <ul class="bg-neutral-100 dark:bg-neutral-900 flex flex-col divide-y divide-neutral-200 dark:divide-neutral-800 rounded-lg">
                    <li class="flex items-center gap-2 p-3 cursor-pointer" @click="document.dispatchEvent(new Event('toggleItem'))">
                        <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5 mx-auto" viewBox="0 0 20 20" fill="currentColor">
                            <path fill-rule="evenodd" d="M10 5a1 1 0 011 1v3h3a1 1 0 110 2h-3v3a1 1 0 11-2 0v-3H6a1 1 0 110-2h3V6a1 1 0 011-1z" clip-rule="evenodd" />
                        </svg>
                    </li>
                    <li v-for="element in items" class="flex items-center gap-2 p-3">
                        <div class="flex flex-col flex-grow self-start">
                            <span>{{element.name}}</span>
                            <!-- <span class="text-sm text-neutral-700 dark:text-neutral-300">{{item.description}}</span> -->
                        </div>
                        <div class="flex flex-col">
                            <span class="text-green-600">{{element.price}}</span>
                            <span class="text-sm text-neutral-700 dark:text-neutral-300">{{ element.quantity }} وحدات</span>
                        </div>
                    </li>
                </ul>
            </form>
        </section>
    </main>
    <!-- contact dialog -->
    <div v-scope id="toggleContact" class="fixed inset-0 bg-gray-600 bg-opacity-50 overflow-y-auto h-full w-full hidden">
        <!-- // modal content -->
        <div class="relative top-7 md:top-20 grid-phone min-h-screen md:min-h-fit md:w-96 md:mx-auto shadow-lg rounded-t-lg md:rounded-b-lg bg-white dark:bg-black" >
            <header class="p-4 flex items-center sticky top-0">
                <button @click="resetContact" class="font-semibold">الغاء</button>
                <h1 class="flex-grow text-center font-bold">جهة اتصال</h1>
            </header>
            <form @submit.prevent="saveContact" id="addContact">
                <main class="p-4">
                    <ul class="bg-neutral-100 dark:bg-neutral-900 mt-3 flex flex-col divide-y divide-neutral-200 dark:divide-neutral-800 rounded-lg">
                        <li class="flex items-center gap-2 p-3">
                            <label for="name" class="text-gray-700 dark:text-gray-300">الاسم*</label>
                            <input type="text" v-model="contact.name" name="name" id="name" class="w-full h-full bg-transparent px-2 focus:outline-none" required>
                        </li>
                        <li class="flex items-center gap-2 p-3">
                            <label for="phone"  class="text-gray-700 dark:text-gray-300">الرقم*</label>
                            <input type="tel" v-model="contact.phone" inputmode="numeric" dir="ltr" name="phone" id="phone" class="w-full h-full bg-transparent px-2 focus:outline-none" required>
                        </li>
                        <li class="flex items-center gap-2 p-3">
                            <label for="adress" class="text-gray-700 dark:text-gray-300">العنوان</label>
                            <input type="address" v-model="contact.address" name="address" id="address" class="w-full h-full bg-transparent px-2 focus:outline-none">
                        </li>
                        <li class="flex items-center gap-2 p-3">
                            <label for="note"  class="text-gray-700 dark:text-gray-300">ملاحظة</label>
                            <input type="text" v-model="contact.note" name="note" id="note" class="w-full h-full bg-transparent px-2 focus:outline-none">
                        </li>
                    </ul>
                </main>
            </form>
            <footer class="p-4 w-full sticky bottom-0 border-t border-t-neutral-100 dark:border-neutral-900">
                <button type="submit" form="addContact" class="h-11 w-full rounded-lg bg-blue-600 text-white">حفظ</button>
            </footer>
        </div>
    </div>
    <!-- items dialog -->
    <div v-scope id="toggleItem" class="fixed inset-0 bg-gray-600 bg-opacity-50 overflow-y-auto h-full w-full hidden">
        <!-- // modal content -->
        <div class="relative top-7 md:top-20 grid-phone min-h-screen md:min-h-fit md:w-96 md:mx-auto shadow-lg rounded-t-lg md:rounded-b-lg bg-white dark:bg-black" >
            <header class="p-4 flex items-center sticky top-0">
                <button @click="resetItem" class="font-semibold">الغاء</button>
                <h1 class="flex-grow text-center font-bold">إضافة صنف</h1>
                <!-- <button class="font-semibold text-red-600">حذف</button> -->
            </header>
            <form @submit.prevent="addItem" id="addItem">
                <main class="p-4">
                    <ul class="bg-neutral-100 dark:bg-neutral-900 mt-3 flex flex-col divide-y divide-neutral-200 dark:divide-neutral-800 rounded-lg">
                        <li class="flex items-center gap-2 p-3">
                            <label for="name" class="text-gray-700 dark:text-gray-300">الصنف*</label>
                            <input type="text" v-model="item.name" name="name" id="name" class="w-full h-full bg-transparent px-2 focus:outline-none" required>
                        </li>
                        <li class="flex items-center gap-2 p-3">
                            <label for="price"  class="text-gray-700 dark:text-gray-300">السعر*</label>
                            <input type="number" v-model="item.price" inputmode="decimal" dir="ltr" name="price" id="price" class="w-full h-full bg-transparent px-2 focus:outline-none" required>
                        </li>
                        <li class="flex items-center gap-2 p-3">
                            <label for="quantity"  class="text-gray-700 dark:text-gray-300">الكمية*</label>
                            <input type="number" v-model="item.quantity" inputmode="numeric" dir="ltr" name="quantity" id="quantity" class="w-full h-full bg-transparent px-2 focus:outline-none" required>
                        </li>
                    </ul>
                </main>
            </form>
            <footer class="p-4 w-full sticky bottom-0 border-t border-t-neutral-100 dark:border-neutral-900">
                <button type="submit" form="addItem" class="h-11 w-full rounded-lg bg-blue-600 text-white">إضافة</button>
            </footer>
        </div>
    </div>
    <script type="module" src="/main.js"></script>
    <script type="module">
        import { createApp } from 'petite-vue'
        import inventory from './inventory'

        // set default datetime-local
        inventory.now()

        // handle @toggleContact
        document.addEventListener('toggleContact', e => {
            document.querySelector('#toggleContact').classList.toggle('hidden')
        })

        // handle @toggleItem
        document.addEventListener('toggleItem', e => {
            document.querySelector('#toggleItem').classList.toggle('hidden')
        })
        
        createApp(inventory).mount()
    </script>
</body>
</html>