<!DOCTYPE html>
<html lang="ar" dir="rtl">
  <head>
    <meta charset="UTF-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Vite App</title>
  </head>
<body class="bg-white dark:bg-black text-black dark:text-white">
    <header class="p-4 flex items-center sticky top-0 backdrop-blur-3xl">
        <button v-scope @click="history.back()" class="h-8 w-8 hover:bg-neutral-100 dark:hover:bg-neutral-900 rounded-lg">
            <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 mx-auto" viewBox="0 0 20 20" fill="currentColor">
                <path fill-rule="evenodd" d="M7.293 14.707a1 1 0 010-1.414L10.586 10 7.293 6.707a1 1 0 011.414-1.414l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414 0z" clip-rule="evenodd" />
            </svg>
        </button>
        <h1 class="flex-grow text-center font-bold">جهات الاتصال</h1>
        <button v-scope @click="contactDialog = ! contactDialog" class="font-semibold text-blue-600">إضافة</button>
    </header>
    <main class="mx-4 mb-4 md:w-96 md:mx-auto" v-scope>
        <input type="search" :value="search" @input="search = $event.target.value" name="contatcts" placeholder="البحث عن جهة اتصال" id="contatcts" class="focus:outline-none appearance-none w-full p-2 my-4 rounded-lg bg-neutral-100 dark:bg-neutral-900">
        <ul class="rounded-xl bg-neutral-100 dark:bg-neutral-900 flex flex-col divide-y divide-neutral-200 dark:divide-neutral-800">
            <li v-for="(contact, index) in searchResults" @click="show(contact, index)" class="p-3 flex justify-between gap-3 items-center cursor-pointer">
                <button class="w-8 h-8 bg-blue-500 text-white rounded-full">
                    <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 mx-auto" viewBox="0 0 20 20" fill="currentColor">
                        <path fill-rule="evenodd" d="M10 9a3 3 0 100-6 3 3 0 000 6zm-7 9a7 7 0 1114 0H3z" clip-rule="evenodd" />
                    </svg>
                </button>
                <div class="flex flex-col flex-grow">
                    <span class="text-sm font-semibold">{{ contact.name }}</span>
                    <span class="text-xs">{{ contact.phone }}</span>
                    <!-- <span class="text-xs text-neutral-700 dark:text-neutral-300">{{ contact.note }}</span> -->
                </div>
                <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 text-neutral-500" viewBox="0 0 20 20" fill="currentColor">
                    <path fill-rule="evenodd" d="M12.707 5.293a1 1 0 010 1.414L9.414 10l3.293 3.293a1 1 0 01-1.414 1.414l-4-4a1 1 0 010-1.414l4-4a1 1 0 011.414 0z" clip-rule="evenodd" />
                </svg>
            </li>
        </ul>
    </main>
    <!--Overlay Effect-->
    <div v-scope v-show="contactDialog" class="fixed inset-0 bg-gray-600 bg-opacity-50 overflow-y-auto h-full w-full">
        <!-- // modal content -->
        <div class="relative top-7 md:top-20 grid-phone min-h-screen md:min-h-fit md:w-96 md:mx-auto shadow-lg rounded-t-lg md:rounded-b-lg bg-white dark:bg-black" >
            <header class="p-4 flex items-center sticky top-0">
                <button @click="reset" class="font-semibold">الغاء</button>
                <h1 class="flex-grow text-center font-bold">جهة اتصال</h1>
                <button v-show="id !== null && edit" @click="remove" class="font-semibold text-red-600">حذف</button>
                <button v-show="id !== null && !edit" @click="edit = true" class="font-semibold text-blue-600">تحرير</button>
            </header>
            <form @submit.prevent="save($el)" id="addContact">
                <input type="hidden" v-model="id" name="id">
                <main class="p-4">
                    <ul class="bg-neutral-100 dark:bg-neutral-900 mt-3 flex flex-col divide-y divide-neutral-200 dark:divide-neutral-800 rounded-lg">
                        <li class="flex items-center gap-2 p-3">
                            <label for="name" class="text-gray-700 dark:text-gray-300">الاسم*</label>
                            <input type="text" v-model="name" name="name" id="name" class="w-full h-full bg-transparent px-2 focus:outline-none" required>
                        </li>
                        <li class="flex items-center gap-2 p-3">
                            <label for="phone"  class="text-gray-700 dark:text-gray-300">الرقم*</label>
                            <input type="tel" v-model="phone" inputmode="numeric" dir="ltr" name="phone" id="phone" class="w-full h-full bg-transparent px-2 focus:outline-none" required>
                        </li>
                        <li class="flex items-center gap-2 p-3">
                            <label for="adress" class="text-gray-700 dark:text-gray-300">العنوان</label>
                            <input type="address" v-model="address" name="address" id="address" class="w-full h-full bg-transparent px-2 focus:outline-none">
                        </li>
                        <li class="flex items-center gap-2 p-3">
                            <label for="note"  class="text-gray-700 dark:text-gray-300">ملاحظة</label>
                            <input type="text" v-model="note" name="note" id="note" class="w-full h-full bg-transparent px-2 focus:outline-none">
                        </li>
                    </ul>
                </main>
            </form>
            <footer v-show="edit || id === null" class="p-4 w-full sticky bottom-0 border-t border-t-neutral-100 dark:border-neutral-900">
                <button type="submit" form="addContact" class="h-11 w-full rounded-lg bg-blue-600 text-white">حفظ</button>
            </footer>
        </div>
    </div>
    <script type="module" src="/main.js"></script>
    <script type="module">
        import { createApp } from 'petite-vue'
        import contact from './contact'

        createApp(contact).mount()
    </script>
</body>
</html>