<!DOCTYPE html>
<html lang="ar" dir="rtl">
  <head>
    <meta charset="UTF-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Vite App</title>
  </head>
<body class="grid-phone gap-2 bg-white dark:bg-black text-black dark:text-white">
    <header class="p-4 flex items-center sticky top-0 backdrop-blur-3xl">
        <button v-scope @click="history.back()" class="h-8 w-8 hover:bg-neutral-100 dark:hover:bg-neutral-900 rounded-lg">
            <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 mx-auto" viewBox="0 0 20 20" fill="currentColor">
                <path fill-rule="evenodd" d="M7.293 14.707a1 1 0 010-1.414L10.586 10 7.293 6.707a1 1 0 011.414-1.414l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414 0z" clip-rule="evenodd" />
            </svg>
        </button>
        <h1 class="flex-grow text-center font-bold">اﻹعدادات</h1>
        <!-- <button class="font-semibold">حفظ</button> -->
    </header>
    <main class="mx-4 mb-4 md:w-96 md:mx-auto">
      <!-- with email enable it later -->
      <section v-scope="emailAuth()" v-if="!store.user && store.country != 'YE'">
        <!-- // !store.user && form == 'login' -->
        <template v-if="form == 'login'">
          <form class="flex flex-col gap-3" @submit.prevent="emailSignIn($el)">
            <h4 class="font-semibold">تسجيل الدخول</h4>
            <ul class="bg-neutral-100 dark:bg-neutral-900 flex flex-col divide-y divide-neutral-200 dark:divide-neutral-800 rounded-lg">
              <li class="flex items-center gap-2 p-3">
                <label for="email" class="text-gray-700 dark:text-gray-300 whitespace-nowrap">البريد الإلكتروني</label>
                <input type="email" dir="ltr" id="email" v-model="email" class="w-full bg-transparent px-2 focus:outline-none">
              </li>
              <li class="flex items-center gap-2 p-3">
                <label for="passwd" class="text-gray-700 dark:text-gray-300 whitespace-nowrap">كلمة السر</label>
                <input type="password" dir="auto" id="passwd" v-model="password" class="w-full bg-transparent px-2 focus:outline-none">
              </li>
            </ul>
            <div class="flex justify-between">
              <button class="underline" @click="form = 'signup'">ليس لدي حساب</button>
              <button class="underline" @click="form = 'reset'">نسيت كلمة السر</button>
            </div>
            <button class="h-11 font-semibold text-white bg-blue-600 rounded-lg flex gap-2 items-center justify-center">
              <span>تسجيل الدخول</span>
              <svg v-show="spinner" xmlns="http://www.w3.org/2000/svg" class="h-4 w-4 animate-spin" viewBox="0 0 20 20" fill="currentColor">
                <path fill-rule="evenodd" d="M4 2a1 1 0 011 1v2.101a7.002 7.002 0 0111.601 2.566 1 1 0 11-1.885.666A5.002 5.002 0 005.999 7H9a1 1 0 010 2H4a1 1 0 01-1-1V3a1 1 0 011-1zm.008 9.057a1 1 0 011.276.61A5.002 5.002 0 0014.001 13H11a1 1 0 110-2h5a1 1 0 011 1v5a1 1 0 11-2 0v-2.101a7.002 7.002 0 01-11.601-2.566 1 1 0 01.61-1.276z" clip-rule="evenodd" />
              </svg>
            </button>
          </form>
          <div class="relative flex py-5 items-center">
            <div class="flex-grow border-t border-gray-400"></div>
            <span class="flex-shrink mx-4 text-gray-400">أو سجل الدخول بـ</span>
            <div class="flex-grow border-t border-gray-400"></div>
          </div>
          <div class="flex gap-3 justify-center">
            <button @click="providerSignIn('google')" class="h-11 flex-1 font-semibold text-white dark:text-black bg-black dark:bg-white rounded-lg flex gap-2 items-center justify-center">
              <span>تسجيل الدخول</span>
              <svg class="h-5 w-5" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                <g transform="matrix(1, 0, 0, 1, 27.009001, -39.238998)">
                  <path fill="#4285F4" d="M -3.264 51.509 C -3.264 50.719 -3.334 49.969 -3.454 49.239 L -14.754 49.239 L -14.754 53.749 L -8.284 53.749 C -8.574 55.229 -9.424 56.479 -10.684 57.329 L -10.684 60.329 L -6.824 60.329 C -4.564 58.239 -3.264 55.159 -3.264 51.509 Z"/>
                  <path fill="#34A853" d="M -14.754 63.239 C -11.514 63.239 -8.804 62.159 -6.824 60.329 L -10.684 57.329 C -11.764 58.049 -13.134 58.489 -14.754 58.489 C -17.884 58.489 -20.534 56.379 -21.484 53.529 L -25.464 53.529 L -25.464 56.619 C -23.494 60.539 -19.444 63.239 -14.754 63.239 Z"/>
                  <path fill="#FBBC05" d="M -21.484 53.529 C -21.734 52.809 -21.864 52.039 -21.864 51.239 C -21.864 50.439 -21.724 49.669 -21.484 48.949 L -21.484 45.859 L -25.464 45.859 C -26.284 47.479 -26.754 49.299 -26.754 51.239 C -26.754 53.179 -26.284 54.999 -25.464 56.619 L -21.484 53.529 Z"/>
                  <path fill="#EA4335" d="M -14.754 43.989 C -12.984 43.989 -11.404 44.599 -10.154 45.789 L -6.734 42.369 C -8.804 40.429 -11.514 39.239 -14.754 39.239 C -19.444 39.239 -23.494 41.939 -25.464 45.859 L -21.484 48.949 C -20.534 46.099 -17.884 43.989 -14.754 43.989 Z"/>
                </g>
              </svg>
            </button>
            <!-- <button @click="providerSignIn('apple')" class="h-11 flex-1 font-semibold text-white dark:text-black bg-black dark:bg-white rounded-lg flex gap-2 items-center justify-center">
              <svg class="h-5 w-5" xmlns="http://www.w3.org/2000/svg" viewBox="0 -3.552713678800501e-15 820 950" fill="currentColor">
                <path d="M404.345 229.846c52.467 0 98.494-20.488 138.08-61.465s59.38-88.626 59.38-142.947c0-5.966-.472-14.444-1.414-25.434-6.912.942-12.096 1.727-15.552 2.355-48.383 6.908-90.954 30.615-127.713 71.12-36.758 40.506-55.137 83.838-55.137 129.996 0 5.337.785 14.13 2.356 26.375zM592.379 950c37.387 0 78.701-25.59 123.943-76.772S796.122 761.915 820 692.836c-88.912-45.844-133.368-111.626-133.368-197.348 0-71.591 35.973-132.82 107.92-183.688-49.954-62.486-115.931-93.729-197.931-93.729-34.56 0-66.134 5.181-94.724 15.543l-17.908 6.594-24.035 9.42c-15.709 5.966-30.004 8.95-42.885 8.95-10.054 0-23.25-3.455-39.586-10.363l-18.38-7.536-17.436-7.065c-25.449-10.676-52.782-16.014-82-16.014-78.23 0-141.065 26.376-188.506 79.128C23.72 349.479 0 419.03 0 505.379c0 121.517 38.015 233.772 114.046 336.763C166.828 914.047 215.054 950 258.724 950c18.537 0 36.916-3.611 55.138-10.833l23.092-9.42 18.38-6.594c25.762-9.106 49.482-13.659 71.16-13.659 22.935 0 49.326 5.81 79.173 17.427l14.609 5.652C550.75 944.191 574.786 950 592.379 950z"/>
              </svg>
            </button> -->
          </div>
        </template>
        <template v-else-if="form == 'reset'">
          <!-- !store.user && form == 'signup' -->
          <form class="flex flex-col gap-3" @submit.prevent="emailReset($el)">
            <h4 class="font-semibold">اعادة تعيين كلمة السر</h4>
            <ul class="bg-neutral-100 dark:bg-neutral-900 flex flex-col divide-y divide-neutral-200 dark:divide-neutral-800 rounded-lg">
              <li class="flex items-center gap-2 p-3">
                <label for="email" class="text-gray-700 dark:text-gray-300 whitespace-nowrap">البريد الإلكتروني</label>
                <input type="email" dir="ltr" id="email" v-model="email" class="w-full bg-transparent px-2 focus:outline-none">
              </li>
            </ul>
            <button class="self-start underline" @click="form = 'login'">الغاء</button>
            <button class="h-11 font-semibold text-white bg-blue-600 rounded-lg flex gap-2 items-center justify-center">
              <span>إرسال الرابط</span>
              <svg v-show="spinner" xmlns="http://www.w3.org/2000/svg" class="h-4 w-4 animate-spin" viewBox="0 0 20 20" fill="currentColor">
                <path fill-rule="evenodd" d="M4 2a1 1 0 011 1v2.101a7.002 7.002 0 0111.601 2.566 1 1 0 11-1.885.666A5.002 5.002 0 005.999 7H9a1 1 0 010 2H4a1 1 0 01-1-1V3a1 1 0 011-1zm.008 9.057a1 1 0 011.276.61A5.002 5.002 0 0014.001 13H11a1 1 0 110-2h5a1 1 0 011 1v5a1 1 0 11-2 0v-2.101a7.002 7.002 0 01-11.601-2.566 1 1 0 01.61-1.276z" clip-rule="evenodd" />
              </svg>
            </button>
          </form>
        </template>
        <template v-else>
          <form class="flex flex-col gap-3" @submit.prevent="emailSignUp($el)">
            <h4 class="font-semibold">انشاء حساب</h4>
            <ul class="bg-neutral-100 dark:bg-neutral-900 flex flex-col divide-y divide-neutral-200 dark:divide-neutral-800 rounded-lg">
              <li class="flex items-center gap-2 p-3">
                <label for="email" class="text-gray-700 dark:text-gray-300 whitespace-nowrap">البريد الإلكتروني</label>
                <input type="email" dir="ltr" id="email" v-model="email" class="w-full bg-transparent px-2 focus:outline-none">
              </li>
              <li class="flex items-center gap-2 p-3">
                <label for="passwd" class="text-gray-700 dark:text-gray-300 whitespace-nowrap">كلمة السر</label>
                <input type="password" dir="auto" id="passwd" v-model="password" class="w-full bg-transparent px-2 focus:outline-none">
              </li>
              <li class="flex items-center gap-2 p-3">
                <label for="confirm-passwd" class="text-gray-700 dark:text-gray-300 whitespace-nowrap">تأكيد كلمة السر</label>
                 <input type="password" dir="auto" id="confirm-passwd" v-model="confirmPassword" class="w-full bg-transparent px-2 focus:outline-none">
              </li>
            </ul>
            <button class="self-start underline" @click="form = 'login'">لدي حساب بالفعل</button>
            <button class="h-11 font-semibold text-white bg-blue-600 rounded-lg flex gap-2 items-center justify-center">
              <span>إنشاء حساب</span>
              <svg v-show="spinner" xmlns="http://www.w3.org/2000/svg" class="h-4 w-4 animate-spin" viewBox="0 0 20 20" fill="currentColor">
                <path fill-rule="evenodd" d="M4 2a1 1 0 011 1v2.101a7.002 7.002 0 0111.601 2.566 1 1 0 11-1.885.666A5.002 5.002 0 005.999 7H9a1 1 0 010 2H4a1 1 0 01-1-1V3a1 1 0 011-1zm.008 9.057a1 1 0 011.276.61A5.002 5.002 0 0014.001 13H11a1 1 0 110-2h5a1 1 0 011 1v5a1 1 0 11-2 0v-2.101a7.002 7.002 0 01-11.601-2.566 1 1 0 01.61-1.276z" clip-rule="evenodd" />
              </svg>
            </button>
          </form>
        </template>
      </section>
      <section v-scope="phoneAuth()" v-if="!store.user && store.country == 'YE'">
        <template v-if="!confirmResult">
          <form class="flex flex-col gap-3" @submit.prevent="verifyPhoneNumber($el)">
            <h4 class="font-semibold">تسجيل الدخول</h4>
            <ul class="bg-neutral-100 dark:bg-neutral-900 flex flex-col divide-y divide-neutral-200 dark:divide-neutral-800 rounded-lg">
              <li class="flex items-center gap-2 p-3">
                <label for="phone" class="text-gray-700 dark:text-gray-300 whitespace-nowrap">رقم الجوال</label>
              <input type="tel" pattern="\+9677[0-9]{8}" title="يجب أن يبدأ رقم الهاتف بـ +967" dir="ltr" id="tel" v-model="phone" class="w-full bg-transparent px-2 focus:outline-none">
              </li>
            </ul>
            <button id="phone-signin" class="h-11 font-semibold text-white bg-blue-600 rounded-lg flex gap-2 items-center justify-center">
              <span>التالي</span>
              <svg v-show="spinner" xmlns="http://www.w3.org/2000/svg" class="h-4 w-4 animate-spin" viewBox="0 0 20 20" fill="currentColor">
                <path fill-rule="evenodd" d="M4 2a1 1 0 011 1v2.101a7.002 7.002 0 0111.601 2.566 1 1 0 11-1.885.666A5.002 5.002 0 005.999 7H9a1 1 0 010 2H4a1 1 0 01-1-1V3a1 1 0 011-1zm.008 9.057a1 1 0 011.276.61A5.002 5.002 0 0014.001 13H11a1 1 0 110-2h5a1 1 0 011 1v5a1 1 0 11-2 0v-2.101a7.002 7.002 0 01-11.601-2.566 1 1 0 01.61-1.276z" clip-rule="evenodd" />
              </svg>
            </button>
          </form>
        </template>
        <template v-else>
          <form class="flex flex-col gap-2" @submit.prevent="signInWithVerificationCode($el)">
            <h4 class="font-semibold">التحقق</h4>
            <ul class="bg-neutral-100 dark:bg-neutral-900 flex flex-col divide-y divide-neutral-200 dark:divide-neutral-800 rounded-lg">
              <li class="flex items-center gap-2 p-3">
                <label for="code" class="text-gray-700 dark:text-gray-300 whitespace-nowrap">الرمز</label>
                <input type="number" pattern="[0-9]{6}" title="رمز التحقق يتكون من 6 أرقام" inputmode="numeric" dir="ltr" id="code" v-model="code" class="w-full bg-transparent px-2 focus:outline-none appearance-none">
              </li>
            </ul>
            <button class="self-start underline" @click="confirmResult = nul">الغاء</button>
            <button id="phone-signin" class="h-11 font-semibold text-white bg-blue-600 rounded-lg flex gap-2 items-center justify-center">
              <span>تحقق</span>
              <svg v-show="spinner" xmlns="http://www.w3.org/2000/svg" class="h-4 w-4 animate-spin" viewBox="0 0 20 20" fill="currentColor">
                <path fill-rule="evenodd" d="M4 2a1 1 0 011 1v2.101a7.002 7.002 0 0111.601 2.566 1 1 0 11-1.885.666A5.002 5.002 0 005.999 7H9a1 1 0 010 2H4a1 1 0 01-1-1V3a1 1 0 011-1zm.008 9.057a1 1 0 011.276.61A5.002 5.002 0 0014.001 13H11a1 1 0 110-2h5a1 1 0 011 1v5a1 1 0 11-2 0v-2.101a7.002 7.002 0 01-11.601-2.566 1 1 0 01.61-1.276z" clip-rule="evenodd" />
              </svg>
            </button>
          </form>
        </template>
      </section>
      <section v-scope="endAuth()" class="flex flex-col gap-3">
        <template v-if="store.user">
          <span class="text-center" dir="ltr"> {{ store.contact }} </span>
          <button @click="signout" class="h-11 font-semibold text-white bg-red-600 rounded-lg">تسجيل الخروج</button>          
        </template>
      </section>
      <section v-scope v-if="store.user">
        <h4 class="font-semibold my-4">التفاصيل</h4>
        <ul class="bg-neutral-100 dark:bg-neutral-900 flex flex-col divide-y divide-neutral-200 dark:divide-neutral-800 rounded-lg">
            <!-- <li class="flex flex-col gap-1 p-2">
                <label for="sar" class="text-gray-700 dark:text-gray-300 whitespace-nowrap">الريال السعودي</label>
                <div class="flex flex-row">
                    <input type="text" inputmode="decimal" name="sar" id="sar" dir="ltr" placeholder="=1_SAR" class="bg-transparent px-2 focus:outline-none w-full">
                    <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-full" viewBox="0 0 20 20" fill="currentColor">
                        <path d="M8 5a1 1 0 100 2h5.586l-1.293 1.293a1 1 0 001.414 1.414l3-3a1 1 0 000-1.414l-3-3a1 1 0 10-1.414 1.414L13.586 5H8zM12 15a1 1 0 100-2H6.414l1.293-1.293a1 1 0 10-1.414-1.414l-3 3a1 1 0 000 1.414l3 3a1 1 0 001.414-1.414L6.414 15H12z" />
                    </svg>
                    <input type="text" inputmode="decimal" name="yer" id="yer" placeholder="=1_YER" class="bg-transparent px-2 focus:outline-none w-full">
                </div>
            </li> -->
            <a href="./currency.html">
                <li class="flex items-center gap-2 p-3">
                    <button class="h-8 w-8 bg-purple-500 text-white rounded-lg">
                        <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 mx-auto" viewBox="0 0 20 20" fill="currentColor">
                            <path d="M8.433 7.418c.155-.103.346-.196.567-.267v1.698a2.305 2.305 0 01-.567-.267C8.07 8.34 8 8.114 8 8c0-.114.07-.34.433-.582zM11 12.849v-1.698c.22.071.412.164.567.267.364.243.433.468.433.582 0 .114-.07.34-.433.582a2.305 2.305 0 01-.567.267z" />
                            <path fill-rule="evenodd" d="M10 18a8 8 0 100-16 8 8 0 000 16zm1-13a1 1 0 10-2 0v.092a4.535 4.535 0 00-1.676.662C6.602 6.234 6 7.009 6 8c0 .99.602 1.765 1.324 2.246.48.32 1.054.545 1.676.662v1.941c-.391-.127-.68-.317-.843-.504a1 1 0 10-1.51 1.31c.562.649 1.413 1.076 2.353 1.253V15a1 1 0 102 0v-.092a4.535 4.535 0 001.676-.662C13.398 13.766 14 12.991 14 12c0-.99-.602-1.765-1.324-2.246A4.535 4.535 0 0011 9.092V7.151c.391.127.68.317.843.504a1 1 0 101.511-1.31c-.563-.649-1.413-1.076-2.354-1.253V5z" clip-rule="evenodd" />
                        </svg>
                    </button>
                    <span class="whitespace-nowrap flex-1">العملات</span>
                    <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 text-neutral-500" viewBox="0 0 20 20" fill="currentColor">
                        <path fill-rule="evenodd" d="M12.707 5.293a1 1 0 010 1.414L9.414 10l3.293 3.293a1 1 0 01-1.414 1.414l-4-4a1 1 0 010-1.414l4-4a1 1 0 011.414 0z" clip-rule="evenodd" />
                    </svg>
                </li>
            </a>
            <a href="./contact.html">
                <li class="flex items-center gap-2 p-3">
                    <button class="h-8 w-8 bg-orange-500 text-white rounded-lg">
                        <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5 mx-auto" viewBox="0 0 20 20" fill="currentColor">
                            <path d="M13 6a3 3 0 11-6 0 3 3 0 016 0zM18 8a2 2 0 11-4 0 2 2 0 014 0zM14 15a4 4 0 00-8 0v3h8v-3zM6 8a2 2 0 11-4 0 2 2 0 014 0zM16 18v-3a5.972 5.972 0 00-.75-2.906A3.005 3.005 0 0119 15v3h-3zM4.75 12.094A5.973 5.973 0 004 15v3H1v-3a3 3 0 013.75-2.906z" />
                        </svg>
                    </button>
                    <span class="whitespace-nowrap flex-1">جهات الاتصال</span>
                    <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 text-neutral-500" viewBox="0 0 20 20" fill="currentColor">
                        <path fill-rule="evenodd" d="M12.707 5.293a1 1 0 010 1.414L9.414 10l3.293 3.293a1 1 0 01-1.414 1.414l-4-4a1 1 0 010-1.414l4-4a1 1 0 011.414 0z" clip-rule="evenodd" />
                    </svg>
                </li>
            </a>
        </ul>
      </section>
    </main>
    <!--Overlay Effect
    <div class="fixed inset-0 bg-gray-600 bg-opacity-50 overflow-y-auto h-full w-full">
        //modal content
        <div class="relative top-7 min-h-screen md:w-96 md:top-20 md:mx-auto shadow-lg rounded-md bg-white dark:bg-black" >
        </div>
    </div>-->
    <script type="module" src="/main.js"></script>
    <script type="module">
      import { createApp } from 'petite-vue'
      import { phoneAuth, emailAuth, endAuth } from '../lib/authn'
      import { store } from '../main'

      console.log(store.user)

      createApp({
        phoneAuth,
        emailAuth,
        endAuth,
        store
      }).mount()
    </script>
</body>
</html>